* text=auto

*.css text eol=lf
*.html text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.ts text eol=lf

*.glb binary
*.jpg binary
*.jpeg binary
*.mvt binary
*.pbf binary
*.pmtiles binary
*.png binary
*.webp binary
*.zip binary

